{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>

<div>
    <table>
        <tr>
            <th>Class id</th>
            <th>Class Name</th>
            <th>Capacity</th>
            <th>Edit Booking</th>
            <th>Members Booked</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.exclass.id}}</td>
            <td>{{ booking.exclass.name}}</td>
            <td>{{ booking.exclass.capacity}}</td>
            <td><a href="/bookings/<id>/edit{{ booking.id }}"</a> Info</td>
            <td><a href="/bookings/<id> {{ booking.id }} "</a>Show</td>
        </tr>
        {% endfor%}
    </table>
<div>

<div>
    <button> <a href="/bookings/new">ADD BOOKING</a></button>
</div>

{% endblock %}