{% extends 'base.html' %}

{% block content %}
<h1>Add Booking</h1>

<form action="/bookings" method="post">
    <div>
        <label for="member" > Select Member:</label>
        <select id="member" name="member_id" required>
        {% for member in members %}
        <option value="{{member.id}}"> {{member.full_name()}}</option>
        {% endfor %}
        </select>
    </div>
    
    <div>    
        <label for="exclass">Select Class:</label>
        <select name="exclass" id="exclass" required>
        {% for exclass in exclasses %}
        <option value="{{ exclass.id }}"> {{ exclass.name }}</option>
        {% endfor %}
        </select>
    </div>
    
    <input type='submit' value="Book Class">
</form>

{% endblock %}