{% extends 'base.html' %}

{% block content %}

<form action="/members/{{member.id}}" method="post">
    <div>
        <label for="first_name"> First Name</label>
        <input type="text" name="first_name" id="first_name" value="{{member.first_name}}" reqiured>
    </div>

    <div>
        <label for="second_name"> Second Name</label>
        <input type="text" name="second_name" id="second_name" value="{{member.second_name}}" reqiured>
    </div>

    <div>
        <label for="age"> Age</label>
        <input type="int" name="age" id="age" value="{{member.age}}" reqiured>
    </div>

    <div>
        <label for="sex"> Sex</label>
        <input type="text" name="sex" id="sex" value="{{member.sex}}" reqiured>
    </div>

    <button type="submit"> Update Member</button>
</form>

<form action="/members/{{member.id}}/delete" method="post"> 
    <button> DELETE </button>
    </form> 

{% endblock content %}

