{% extends 'base.html' %}

{% block content %}
<h1>Memebers</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Member Id</th>
            <th>Edit Memeber</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
        <tr>
            
            <td> {{member.first_name}} </a></td>
            <td> {{member.second_name}} </a></td>    
            <td> {{member.age}} </a></td>    
            <td> {{member.sex}} </a></td> 
            <td> {{member.id}} </td>
            <td><button><a href="/members/{{member.id}}/edit" </a> Edit</button></td> 
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <button class="add-btn"> <a href="/members/new">ADD MEMBER</a></button>
</div>


{% endblock content %}