{% extends 'base.html' %}

{% block content %}
<h1>Memebers</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Edit Memeber</th>
    
    </tr>
    {% for member in members %}
    <tr>
        <td> {{member.first_name}} </a></td>
        <td> {{member.second_name}} </a></td>    
        <td> {{member.age}} </a></td>    
        <td> {{member.sex}} </a></td> 
        <td><a href="/members/<id>/edit{{ member.id }}" </a> Info</td>  
    </tr>
    {% endfor %}
</table>
{% endblock content %}