{% extends 'base.html' %}

{% block content %}
    <h2> ADD NEW MEMBER</h2>

    <form action="/members" method="post">
        <div>
        <label for='first_name'> First Name</label>
            <input type="text" name='first_name' id='first_name' required>
        </div>
        
        <div>
        <label for='second_name'> Second Name</label>
            <input type="text" name='second_name' id='second_name' required>
        </div>
        
        <div>
        <label for="age">Age</label>
            <input type="int" name="age" id="age" required>
        </div> 

        <div>
        <label for="sex">Sex</label>
            <input type="text" name="sex" id="sex" required>
        <div></div>
        
        <input type="submit" value="Add Member">
    </form>


{% endblock content %}