<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Baronos Gym - {{title}}</title>
</head>
<body>
    <header>
        <h1>BaronosGym</h1>
    </header>

    <aside>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/bookings'">Bookings</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/classes">Classes</a></li>
            </ul>
        </nav>
    </aside>
    
    <main>
        


        
    </main>
    <section id="">
        {% block content %}
            
        {% endblock  %}
    </section>
    
    <footer>
        <h3>BaronosGym<h3>
    </footer>
</body>
</html>