<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title> Baronos Gym </title>
    
</head>
<body >
    
    <header class="header">
        <section class="header-section"> 
            <img class ="logo" src="{{url_for('static', filename='images/crest.jpg')}}" alt="logo">
        </section>
        <h1>WitnessGym</h1>
        <!-- <div class="header">
            <img src="url('/static/images/crest.jpg')" alt="logo" />
            <h1>BaronosGym</h1>
            </div> -->


            <!-- <h1>BaronosGym</h1> -->
        <!-- </div> -->
    </header>

    <main class = "flex flex--row">
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/classes">Classes</a></li>
            </ul>
        </nav>


    <section >
        {% block content %}
            
        {% endblock  %}
    </section>
    </main>

    
    
    <footer class="footer">
        <h3>&#174; <bold> WitnessGym</bold> &copy;<h3>
    </footer>
</body>
</html>