{% extends 'base.html' %}
{% block content %}

<Section>
    <h2>Up-coming Classes</h2>
    <table Class="Content-tabel">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Class Type</th>
                <th>Duration</th>
                <th>Capacity</th>
                <th>Book Now</th>
            </tr>
        <thead>
        <tbody>
            {% for exclass in exclasses %}
            <tr class="active-row">
                <td>{{ exclass.name}}</a></td>
                <td>{{ exclass.activity_type}}</a></td>
                <td>{{ exclass.duration}}</a></td>
                <td>{{ exclass.capacity }}</a></td>
                <td><button class="action-btn"> <a href="/bookings/new" </a>Book Now</button> </td>
                <!-- need to route book now to the apporpriate link -->
            </tr>
        </tbody>    
            
    {% endfor%}
    </table>
</Section>

{% endblock  %}