{% extends 'base.html' %}
{% block content %}
<!-- this page will contain the list of upcoming classes with quick links to booking onto specific classes -->
    <p>Bellson to Wellson</p>

<Section>
<table>
    <tr>
        <th>Class Name</th>
        <th>Class Type</th>
        <th>Duration</th>
        <th>Capacity</th>
        <th>Book Now</th>
    </tr>
    {% for event in events%}
    <tr>
        <td><a href="/classes/{{ class.id }}"> {{ exclass.name}}</a></td>
        <td><a href="/classes/{{ class.id }}"> {{ exclass.activity_type}}</a></td>
        <td><a href="/classes/{{ class.id }}"> {{ exclass.duration}}</a></td>
        <td><a href="/classes/{{ class.id }}"> {{ exclass.capacity }}</a></td>
        <td><a href="/bookings/new{{bookings.new(booking)}}">Book Now</a></td>
    </tr>
    {% endfor%}
</table>
</Section>

{% endblock  %}