{% extends 'base.html' %}
{% block content %}
    <p>Bellson to Wellson</p>

<Section>
    <h2>Up-comming Classes</h2>
<table>
    <tr>
        <th>Class Name</th>
        <th>Class Type</th>
        <th>Duration</th>
        <th>Capacity</th>
        <th>Book Now</th>
    </tr>
    {% for exclass in exclasses %}
    <tr>
        <td><a href="/classes/{{ exclass.id }}"> {{ exclass.name}}</a></td>
        <td><a href="/classes/{{ exclass.id }}"> {{ exclass.activity_type}}</a></td>
        <td><a href="/classes/{{ exclass.id }}"> {{ exclass.duration}}</a></td>
        <td><a href="/classes/{{ exclass.id }}"> {{ exclass.capacity }}</a></td>
        
    </tr>
    {% endfor%}
</table>
</Section>

{% endblock  %}