body{
font-family: 'Raleway', sans-serif; font-size: 16px;
background-image: linear-gradient(rgba(229, 244, 96,0.25), rgba(229, 244, 96, 0.25)), url('/static/images/background.jpg');
background-size: cover;
background-repeat: no-repeat;
padding: 0px;
margin: 0px;
position: relative; 
height: 100vh;
width: 100%;
}


/* .header-contents {
    background-image: url('/static/images/crest.jpg');
    background-position: relative;
    background-size: auto 200% ;
    width: 100%; width: 100%;
    background-repeat: no-repeat;
    
}

.header-contents h1 {
    position: flex;
    flex-position: center;
    color: rgb(211, 194, 39);
    top: 18px;
    left: 10px; */

.header img {
    float: left;
    width: 100px;
    height: 100px;
    size: auto 200%;
    
}
      
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    color: rgb(188, 218, 57)
}

h1, h2 {
    position: relative;
    top: 18px;
    left: 10px;
    color: rgb(188, 218, 57)
}

a, a:link, a:visited {
color: rgb(188, 218, 57);
text-decoration: none;
}


nav {
padding: 0px;
margin: 0px;
padding-right: 25px;
}

nav ul li {
margin-bottom: 15px;
text-transform: uppercase;
}

ul {
padding: 0px;
margin: 0px;
list-style-type: none;
}

.header-section {
    float: left;
}