{% extends 'base.html' %}

{% block content %}
<h1>Classes</h1>
<div>
  <table>
    <tr>
        <th>Class Name</th>
        <th>Class Type</th>
        <th>Duration</th>
        <th>Capacity</th>
        <th>Edit Class Info</th>
    </tr>
    {% for exclass in exclasses %}
    <tr>
        <td>{{ exclass.name}}</a></td>
        <td> {{ exclass.activity_type}}</a></td>
        <td>{{ exclass.duration}}</a></td>
        <td> {{ exclass.capacity }}</td>
        <td><button><a href="/classes/{{ exclass.id }}/edit" </a> Edit</button></td>
    </tr>
    {% endfor%}
  </table>
</div>

<div>
  <button> <a href="/classes/new">ADD CLASS</a></button>
</div>

{% endblock %}