{% extends 'base.html' %}

{% block content %}
    <h2> Add New Class</h2>

    <form action="/classes" method="post">
        <div>
        <label for='name'> Class Name</label>
            <input type="text" name='name' id='name' required autofocus>
        </div>
        
        <div>
        <label for='activity_type'> Activity Type</label>
            <input type="text" name='activity_type' id='activity_type' required autofocus>
        </div>
        
        <div>
        <label for="duration">Duration</label>
            <input type="int" name="duration" id="duration" required autofocus>
        </div> 

        <div>
        <label for="capacity">Capacity</label>
            <input type="int" name="capacity" id="capacity" required autofocus>
        <div></div>
        
        <button class="input-btn"><input type="submit" value="ADD CLASS"></button>
    </form>


{% endblock content %}